*{
  padding: 0;
  margin: 0;
}
#home{
  width: 100%;
  height: 600px;
  background: url("https://www.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,00192f,00baff)/9xfDWXAUbFXQK585JvByT5pEAhe.jpg");
  background-repeat: no-repeat;
}
.home input{
  width: 80%;
  border-radius: 28px;
}
.home h1{
  color: white;
  padding-top: 70px;
}
.home h3{
  margin: 0 0 180px 0;
  color: white;
}
.home input{
  border: none;
  padding: 15px;
  outline: none;
  position: relative;
  border-radius: 28px;
}
.home button{
  padding: 15px 25px;
  border: none;
  background: greenyellow;
  border-radius: 28px;
  position: absolute;
  right: 280px;
  color: black;
  font-weight: 600;
  transition: 0.5s;
}
.home button:hover{
  background: green;

}
.container{
  width: 90%;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header img{
  width: 200px;
}
.nav a{
  margin: 0 20px;
  font-size: 20px;
  color: black;
  font-weight: 400;
  transition: 0.5s;
}
.nav a:hover{
  color: aqua;
}
.header button{
  padding: 13px 40px;
  background: yellow;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

.popular h1{
  text-align: center;
}
.popular-movie{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.movie img{
  margin: 50px 20px;
  -webkit-box-shadow: -33px -28px 26px -7px rgba(193, 182, 96, 0.2);
  -moz-box-shadow: -33px -28px 26px -7px rgba(193, 182, 96, 0.2);
  box-shadow: -33px -28px 26px -7px rgba(193, 182, 96, 0.2);
}